{{#> _layout}}

<form class ="share_form" method="POST" action="/share">
<h1>Share Quote</h1>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="author" required>
    {{#each errors}}
        {{#if (eq this.instancePath '/author')}}
            <span style="color:red;">{{this.message}}</span>
        {{/if}}
    {{/each}}

    <label for="message">Quote</label>
    <textarea class="textarea" id="message" name="quote" required></textarea>

    {{#each errors}}
        {{#if (eq this.instancePath '/quote')}}
            <span style="color:red;">{{this.message}}</span>
        {{/if}}
    {{/each}}

    <button type="submit">Submit</button>
</form>
{{/ _layout}}